<h2>School</h2>
<table>
  <% @schools.each do |school| %>
    <tr>
      <td><%= school.library.try(:name) %></td>
      <td><%= school.name %></td>
      <td><%= link_to 'show', school_path(school) %></td>
      <td><%= link_to 'edit', edit_school_path(school) %></td>
      <td><%= link_to 'delete', school_path(school), method: :delete %></td>
    </tr>
  <% end %>
</table>